/bin/
/mcp/

!/mcp/conf/astyle.cfg
!/mcp/conf/fields.csv
!/mcp/conf/methods.csv

!/net/minecraft/client/gui/GuiIngameMenu.java
!/net/minecraft/client/multiplayer/WorldClient.java
!/net/minecraft/client/network/NetHandlerPlayClient.java