!/mcp/conf/astyle.cfg
!/mcp/conf/fields.csv
!/mcp/conf/methods.csv

!/mcp/src/minecraft/net/minecraft/crash/CrashReport.java
!/mcp/src/minecraft/net/minecraft/client/ClientBrandRetreiver.java
!/mcp/src/minecraft/net/minecraft/client/gui/GuiIngameMenu.java
!/mcp/src/minecraft/net/minecraft/client/multiplayer/WorldClient.java
!/mcp/src/minecraft/net/minecraft/client/network/NetHandlerPlayClient.java

/bin/
/mcp/
